{
    "openapi": "3.0.1",
    "info": {
        "title": "currencyapi",
        "description": "The currency APIs help you retrieve exchange rates and convert prices between currencies easily.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.cloudmersive.com/currency/exchange-rates"
        }
    ],
    "paths": {
        "/list-available": {
            "post": {
                "tags": [
                    "CurrencyExchange"
                ],
                "summary": "Get a list of available currencies and corresponding countries",
                "description": "Enumerates available currencies and the countries that correspond to these currencies.",
                "operationId": "listAvailableCurrencies",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AvailableCurrencyResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AvailableCurrencyResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AvailableCurrencyResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AvailableCurrencyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ]
            }
        },
        "/convert/{source}/to/{destination}": {
            "post": {
                "tags": [
                    "CurrencyExchange"
                ],
                "summary": "Converts a price from the source currency into the destination currency",
                "description": "Automatically converts the price in the source currency into the destination currency using the latest available currency exchange rate data.",
                "operationId": "convertCurrency",
                "parameters": [
                    {
                        "name": "source",
                        "in": "path",
                        "description": "Source currency three-digit code (ISO 4217), e.g. USD, EUR, etc",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "destination",
                        "in": "path",
                        "description": "Destination currency three-digit code (ISO 4217), e.g. USD, EUR, etc",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Input price, such as 19.99 in source currency",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "number",
                                "format": "double"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "number",
                                "format": "double"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConvertedCurrencyResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConvertedCurrencyResult"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConvertedCurrencyResult"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConvertedCurrencyResult"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "sourcePrice"
            }
        },
        "/get/{source}/to/{destination}": {
            "post": {
                "tags": [
                    "CurrencyExchange"
                ],
                "summary": "Gets the exchange rate from the source currency into the destination currency",
                "description": "Automatically gets the exchange rate from the source currency into the destination currency using the latest available currency exchange rate data.",
                "operationId": "getExchangeRate",
                "parameters": [
                    {
                        "name": "source",
                        "in": "path",
                        "description": "Source currency three-digit code (ISO 4217), e.g. USD, EUR, etc",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "destination",
                        "in": "path",
                        "description": "Destination currency three-digit code (ISO 4217), e.g. USD, EUR, etc",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExchangeRateResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExchangeRateResult"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExchangeRateResult"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExchangeRateResult"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "AvailableCurrency": {
                "type": "object",
                "properties": {
                    "CountryThreeLetterCode": {
                        "type": "string",
                        "description": "Three-letter ISO 3166-1 country code",
                        "x-ballerina-name": "countryThreeLetterCode"
                    },
                    "ISOCurrencyCode": {
                        "type": "string",
                        "description": "ISO 4217 currency three-letter code associated with the country",
                        "x-ballerina-name": "iSOCurrencyCode"
                    },
                    "CountryName": {
                        "type": "string",
                        "description": "Name of the country",
                        "x-ballerina-name": "countryName"
                    },
                    "CurrencyEnglishName": {
                        "type": "string",
                        "description": "Full name of the currency",
                        "x-ballerina-name": "currencyEnglishName"
                    },
                    "CurrencySymbol": {
                        "type": "string",
                        "description": "Symbol associated with the currency",
                        "x-ballerina-name": "currencySymbol"
                    },
                    "IsEuropeanUnionMember": {
                        "type": "boolean",
                        "description": "True if this country is currently a member of the European Union (EU), false otherwise",
                        "x-ballerina-name": "isEuropeanUnionMember"
                    },
                    "CountryISOTwoLetterCode": {
                        "type": "string",
                        "description": "Two-letter ISO 3166-1 country code",
                        "x-ballerina-name": "countryISOTwoLetterCode"
                    }
                },
                "description": "Details of a specific currency"
            },
            "AvailableCurrencyResponse": {
                "type": "object",
                "properties": {
                    "Currencies": {
                        "type": "array",
                        "description": "List of available currencies from the API",
                        "items": {
                            "$ref": "#/components/schemas/AvailableCurrency"
                        },
                        "x-ballerina-name": "currencies"
                    }
                },
                "description": "Result of performing an enumerate currencies operation"
            },
            "ExchangeRateResult": {
                "type": "object",
                "properties": {
                    "ExchangeRate": {
                        "type": "number",
                        "description": "The exchange rate from the source to the destination currency",
                        "format": "double",
                        "x-ballerina-name": "exchangeRate"
                    }
                },
                "description": "Result of performing a get exchange rate operation"
            },
            "ConvertedCurrencyResult": {
                "type": "object",
                "properties": {
                    "FormattedPriceAsString": {
                        "type": "string",
                        "description": "Formatted price in the destination currency as a string",
                        "x-ballerina-name": "formattedPriceAsString"
                    },
                    "ISOCurrencyCode": {
                        "type": "string",
                        "description": "ISO 4217 currency three-letter code of destination price",
                        "x-ballerina-name": "iSOCurrencyCode"
                    },
                    "ConvertedPrice": {
                        "type": "number",
                        "description": "The converted price in the destination currency",
                        "format": "double",
                        "x-ballerina-name": "convertedPrice"
                    },
                    "CurrencySymbol": {
                        "type": "string",
                        "description": "Destination currency symbol",
                        "x-ballerina-name": "currencySymbol"
                    }
                },
                "description": "Result of performing a Convert Currency operation"
            }
        },
        "securitySchemes": {
            "Apikey": {
                "type": "apiKey",
                "description": "API Key Authentication",
                "name": "Apikey",
                "in": "header",
                "x-ballerina-name": "apikey"
            }
        }
    },
    "x-original-swagger-version": "2.0"
}